

 <button  type="button" class="btn btn-primary"(click)="goToAddChart()">Add Chart</button> 
<!-- <button (click)="show()">Update Data</button> -->

<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>ChartName</th>
      <th >API URL</th>
      <th >X-axis</th>
      <th >Y-axis</th>
      <th >Chart Type</th>
      <!-- <th>Chart Preview</th> -->
      <th >Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let param of tableData">
      <!-- <td>{{ param.id }}</td> -->
      <td>{{param.chartName}}</td>
      <td>{{ param.apiUrl }}</td>
      <td>{{ param.xAxisValues }}</td>
      <td>{{ param.yAxisValues }}</td>
      <td>{{ param.selectedChartType }}</td>
      <td>
        <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="editChartParams(param)">
          <i class="fas fa-edit"></i> Edit
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteChartParams(param)">
          <i class="fas fa-trash-alt"></i> Delete
        </button>
        </div>
      </td>
      <!-- <td><img [src]="param.chartPreviewData" alt="Chart Preview" width="100"></td> -->
      <!-- <td>
        <button (click)="editChartParams(param)">Edit</button>
        <button (click)="deleteChartParams(param.id)">Delete</button>
      </td> -->
    </tr>
  </tbody>
</table>
